{% load i18n %}
<div>
    <form>
        {% if not almost_number_dict %}
            <div class="content_word">
                <font>{% trans '無需預先設定的參數' %}</font>
            </div>
        {% else %}
            <div class="form-row" style="margin:0px">
                <div class="form-check col-md-6 left-element">
                    <select id="almost_number_title_select" class="form-control content_word select-arrow" style="padding:0px; height:100%; color:#707070;" data-toggle="tooltip" title="{% trans '紅色為尚未設定完成、藍色為已設定完成' %}">
                        <option selected disabled value="need_almost_number_setting" style="color:#707070;">
                            <font>
                                {% trans '需設定數字字串關係' %}
                            </font>
                        </option>
                        <option value="all_almost_number_title" style="color:#000000;" data-toggle="tooltip" title="{% trans '僅能做粗淺的設定，詳細設定依舊需要個別點入設定' %}{% trans '，例如設定哪些字串為空值' %}">
                            <font>
                                {% trans '將全部欄位皆設定為' %}
                            </font>
                        </option>
                        {% for column_title in almost_number_dict %}
                            <option id="{{ column_title }}_title" value="{{ column_title }}" style="color:#FF0000;">
                                <font>
                                    {{ column_title }}
                                </font>
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check col-md-6 left-element">
                    <select class="form-control content_word select-arrow" id="almost_number_relationship_select_pair" style="padding:0px; height:100%; color:#707070;" data-toggle="tooltip" title="{% trans '選項若為灰色，代表無法在當前模式下使用' %}{% trans '，請切換「需設定數字字串關係」下拉式選單內的值' %}">
                        <option selected value="almost_number_setting" style="color:#707070;" disabled data-toggle="tooltip" title="{% trans '請選擇符合字串的選項' %}">
                            <font>
                                {% trans '數字字串關係' %}
                            </font>
                        </option>
                        <option value="have_empty" style="color:#707070;" disabled data-toggle="tooltip" title="{% trans '欄位以字串表示空值，詳情可見上方說明' %}">
                            <font>
                                {% trans '資料中含有空值' %}
                            </font>
                        </option>
                        <option value="have_not_empty" style="color:#707070;" disabled data-toggle="tooltip" title="{% trans '欄位中的字串有實際意義，詳情可見上方說明' %}">
                            <font>
                                {% trans '資料中無空值' %}
                            </font>
                        </option>
                    </select>
                </div>
            </div>
            <br>
        {% endif %}
    </form>
</div>

<script type="application/javascript">
    $(function () {
        for (var column_title in {{ almost_number_dict|safe }}) {
            if (column_title in title_id_pair) {
                document.getElementById(column_title+'_title').style.color = '#0062AD';
                if (title_id_pair[column_title] == 1) {
                    relationship_set('almost_number', column_title);
                    initize();
                    document.getElementById('preview_file').style.display = 'block'; 
                }
            }
        }
    })
    
    $(function () {        
        $('#almost_number_title_select').click(function() {        
            var value = $(this).val();            
            var option_list = $('#almost_number_relationship_select_pair option');
            var almost_number_relationship_select_pair = $('#almost_number_relationship_select_pair');
            var option_color = $(this).children(":selected")[0].style.color;
            
            $(this).css('color', option_color);
            if (value != 'need_almost_number_setting') {
                option_list.attr('disabled', false);
                option_list.css('color','#000000');
                option_list[0].disabled = true;
                option_list[0].style.color = '#707070';
                if (value && value != 'all_almost_number_title') {                
                    if (value in title_id_pair) {
                        var index = title_id_pair[value];
                        option_list[index].selected = true;
                        if (index != 0) {
                            almost_number_relationship_select_pair.css('color', '#000000');
                        }
                        if (index == 1) {                            
                            relationship_set('almost_number', value);
                        }
                    } else {
                        option_list[0].selected = true;
                        almost_number_relationship_select_pair.css('color', '#707070');
                    }
                } else {
                    option_list[1].disabled = true;
                    option_list[1].style.color = '#707070';
                    option_list[0].selected = true;
                    almost_number_relationship_select_pair.css('color', '#707070');
                }
            } else {
                option_list.attr('disabled', true);
            }
        });
        
        $('#almost_number_relationship_select_pair').click(function() {
            var element = $('#almost_number_title_select').val();
            var id = $(this).children(":selected").index();
            var option_color = $(this).children(":selected")[0].style.color;
            
            $(this).css('color', option_color);
            if (element && element != 'need_almost_number_setting') {
                if (id != 0) {
                    wait_reason = "{% trans '資料設定中，請稍後' %}";
                    ready = false;
                    if (element == 'all_almost_number_title') {
                        for (var column_title in {{ almost_number_dict|safe }}) {
                            title_id_pair[column_title] = id;
                            $('#almost_number_title_select').children('[value='+column_title+']')[0].style.color = '#0062AD';
                            relationship_set('almost_number', column_title);
                            initize();
                            document.getElementById('preview_file').style.display = 'block'; 
                        }
                    } else {
                        title_id_pair[element] = id;
                        relationship_set('almost_number', element);
                        $('#almost_number_title_select').children('[value='+element+']')[0].style.color = '#0062AD';
                        $('#almost_number_title_select').css('color', '#0062AD');
                    }
                    wait_reason = '';
                    ready = true;
                }
            }
        });
    })
</script>