{% extends "base.vue" %}
{% load i18n %}
{% block title %}input password{% endblock title %}

{% block content %}
    <div class="header_word">
        <font>{{ cell_content }}</font>
    </div>
    <form class="content_word" style="width:50%">
        <input id="password" type="password" style="width:100%">
    </form>
    <br>
    
    <div style="padding-top:20px">
        <font class="header_word">{% trans '操作列表' %}</font>
    </div>
    <table class="content_word" style="width:25%;">
        <tr valign="top">
            <td style="width:50%;">
                <a href="javascript:void(0)" onclick="send_password()" style="color:#FF0000">
                    <font>{% trans '送出表單' %}</font>
                </a>
            </td>
            <td style="width:50%;">
                <a href="javascript:void(0)" onclick="history.back()" style="color:#0062AD">
                    <font>{% trans '取消更改' %}</font>
                </a>
            </td>
        </tr>
    </table>
{% endblock content %}

{% block script %}
    <script>
        function send_password() {
            var answer = $('#password').val();
            var url = "{% url 'password_check' %}";
            var data = {
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
                'password' : answer,
            };
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function () {
                    window.location = '{{ check_success_action_url }}';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var jsonObj = JSON.parse(xhr.responseText);
                    danger_alert(jsonObj.message);
                }
            });
        }
    </script>
{% endblock script %}