{% extends "base.vue" %}
{% load i18n %}
{% block title %}change password{% endblock title %}

{% block content %}
    <form id="change_password_form" action="{% url 'change_password' %}" method="post">
        <table class="content_word" style="width:50%">
        {% csrf_token %}
        {% for field in form %}
            {% if field.field.required %}
                <tr>
                    <td>
                        <font data-toggle="tooltip" title="{{ field.help_text }}">{{ field.label }}</font>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom:5px">
                        {{ field }}
                        {% for error in field.errors %}
                            <font style="color: red">{{ error }}</font>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </form>
    
    <div style="padding-top:20px">
        <font class="header_word">{% trans '操作列表' %}</font>
    </div>
    <table class="content_word" style="width:25%;">
        <tr valign="top">
            <td style="width:50%;">
                <a href="javascript:void(0)" onclick="form_submit()" style="color:#FF0000">
                    <font>{% trans '更改密碼' %}</font>
                </a>
            </td>
            <td style="width:50%;">
                <a href="{% url 'home' %}" style="color:#0062AD">
                    <font>{% trans '取消更改' %}</font>
                </a>
            </td>
        </tr>
    </table>
{% endblock content %}

{% block script %}
    <script>
        page.title = "{% trans '請輸入新密碼以更改密碼' %}";
        
        function form_submit() {
            $('#change_password_form').submit();
        }
    </script>
{% endblock script %}